<!DOCTYPE html>

<html>
	
	<head>

		<link rel="stylesheet" type="text/css" href="css/wiki_style.css">

		<title>{% block title %}Wiki project{% endblock %}</title>

	</head>
	
	<body>
		
		<div id="header">
			<a href='/index'>index</a> 
			{{user2}}
			
			{% if not index %}
				{% if not edit %} <!-- see EditHandler -->
					| <a href='/_edit{{path}}'>edit</a>
				{% else %}
					| <a href='{{path}}'>view</a>
				{% endif %}
					 / 
				{% if not history %} <!-- see HistoryHandler -->
					<a href='/_history{{path}}'>history</a>
				{% else %}
					<a href='{{path}}'>view</a>
				{% endif %}
			{% endif %}
			
			{% if signed_in %} <!-- see Handler.initialize -->
				| <a href='/logout'>log out ({{user_name}})</a>

			{% else %}				
				| <a href='/login'>log in</a> or <a href='/signup'>sign up</a>

			{% endif %}
		</div>
		
		{% block body %}
		{% endblock %}

	</body>

</html>