{% extends "base.html" %}

{% block body %}

	<h1 class='title'>History</h1>

		<table>

			{% for entry in history %}
				
				{% set date_string = entry.date|string() %}
				<tr>
					<td style='padding:5px; border-bottom:1px solid black'>Date: {{ date_string[:16] }}</td>
					<td style='padding:5px; border-bottom:1px solid black'>Post: {{ entry.text[:100] }}</td> 
					<td style='padding:5px; border-bottom:1px solid black'><a href='{{ entry.wiki_kw }}?post_id={{ entry.key().id() }}'>view</a></td>
					<td style='padding:5px; border-bottom:1px solid black'><a href='/_edit{{ entry.wiki_kw }}?post_id={{ entry.key().id() }}'>edit</a></td>
					<td style='padding:5px; border-bottom:1px solid black'><a href='/_del{{ entry.wiki_kw }}?post_id={{ entry.key().id() }}'>delete</a></td>
				</tr>

			{% endfor %}

		</table>

{% endblock %}